// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.logo {
  background-color: #d0d1c4;
  position: inherit;
  text-decoration: none;
  color: #ffffff;
  padding: 5px;
  &:hover{
    color: inherit;
  }
}

.login-component {
  height: 100% !important;
  background: #8b755f;
  padding: 16%;

  .login-container {
    background: none;
    width: 400px;
    margin: 0 auto 0;
    text-align: center;
    box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.15);
    position: relative;
    transform-origin: 170px 170px;
    will-change: transform;

    .box {
      margin: 0;
    }

    .note {
      padding: 0.75rem 1.5rem;
      box-sizing: border-box;
      position: absolute;
      bottom: 100%;
      width: 100%;
      z-index: 0;
      transition: all 0.2s ease-out;

      &.note--down {
        transform: translateY(100%);
      }

      &.note--up {
        background: #ff7c7c;
        transform: translateY(0);
      }
    }

    .login {
      background: #ffffff;
      box-sizing: border-box;

      .login--header {
        margin-bottom: 1rem;
        background: #cbbaaa;
        letter-spacing: 5px;

        span {
          font-size: 2rem;
        }
      }

      fieldset {
        border: none;
        height: 80px;

        input {
          width: 50%;
          border-bottom: 1px solid #cccccc;
          text-align: center;
          outline: none;
          padding: 0;
          box-sizing: border-box;
          background: #a8bbe9;
          font-size: 14px;

          &:focus {
            border-bottom: 2px solid #a8bbe9;
            transition: all 0.2s ease-out;

            &:invalid {
              border-bottom: 2px solid #ff7c7c;
              transition: all 0.2s ease-out;
            }
          }
        }

        .btn {
          background: #a8bbe9;
          box-shadow: inset 0 0 2px 0 #EEEEEE;
          outline: none;
          border: 1px solid #8b755f;
          padding: 0.3rem 1rem 0.4rem;
          cursor: pointer;
          border-radius: 0.25rem;
          margin-bottom: 1em;
          color: #8b755f;
          font-size: 1.2rem;

          &:active {
            box-shadow: inset 2px 2px 2px 0 #E0E0E0;
          }
        }
      }
    }
  }
}

#contactsList {
  .add-btn {
    width: 200px;
    margin-bottom: 2em;
  }
}