<template>
    <div id="contactsList">
        <div class="row justify-content-center">
            <b-button class="add-btn" @click="newContact()">New contact</b-button>

            <b-modal ref="add-modal" hide-footer title="Add">
                <form method="post" name="addcontact" id="addcontact" action="#" @submit.prevent="storeContact">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" class="form-control" placeholder="Name"
                               v-model="contact.name"/>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label><br/>
                        <input type="text" name="phone" class="form-control" placeholder="Phone"
                               v-model="contact.phone"/>
                    </div>
                    <div class="form-group text-right">
                        <button class="btn btn-success">Save</button>
                    </div>
                </form>
            </b-modal>

            <b-modal ref="edit-modal" hide-footer title="Edit">
                <form method="post" name="editContact" id="editContact" action="#" @submit.prevent="updateContact">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" class="form-control" placeholder="Name"
                               v-model="contact.name"/>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label><br/>
                        <input type="text" name="phone" id="phone" class="form-control" placeholder="Name"
                               v-model="contact.phone"/>
                    </div>

                    <div class="form-group text-right">
                        <button class="btn btn-success">Save</button>
                    </div>
                </form>
            </b-modal>


            <b-modal ref="delete-modal" hide-footer title="Delete contact">
                <div class="d-block text-center">
                    <h3>Are you sure?</h3>
                </div>
                <b-button class="mt-3" variant="outline-warning" block @click="hideModal('delete-modal')">Cancelar
                </b-button>
                <b-button class="mt-2" variant="danger" block @click="deleteContact(contact.id)">Borrar</b-button>
            </b-modal>

            <div class="card" v-if="!contacts.length">
                <div class="card-body">
                    <div class="row justify-content-center">
                        Your contacts list is empty
                    </div>
                </div>
            </div>

            <div class="card" v-else>
                <div class="card-header">Contacts</div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Phone</th>
                            <th scope="col" colspan="2"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="contact in contacts" :key="contact.id">
                            <th scope="row">{{ contact.name }}</th>
                            <td>{{ contact.phone}}</td>
                            <td>
                                <b-button id="edit-btn" @click="editContact(contact.id)">Edit</b-button>
                                <b-button id="delete-btn" @click="deleteId(contact.id)">Delete</b-button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card" v-if="deletedContacts.length">
                <div class="card-header">Deleted contacts</div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Phone</th>
                            <th scope="col" colspan="2"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="contact in deletedContacts" :key="contact.id">
                            <th scope="row">{{ contact.name }}</th>
                            <td>{{ contact.phone}}</td>
                            <td>
                                <b-button id="show-btn" @click="recoverContact(contact.id)">Recover</b-button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</template>
<script>
    export default {

        data() {
            return {
                deletedContacts: [],
                contacts: [],
                contact: {
                    "name": '',
                    "phone": '',
                },
                id: '',
            }
        },
        methods: {
            contactLists() {
                axios.get('/api/contacts').then((response) => {
                    this.contacts = response.data;
                });
                this.getDeletedContacts();
            },
            newContact() {
                this.showModal('add-modal')
            },
            storeContact() {
                this.axios.post('/api/contacts/', {
                    'name': this.contact.name,
                    'phone': this.contact.phone,
                }).then((data) => {
                    this.hideModal('add-modal');
                    this.contactLists();
                });
            },
            editContact(contactid) {
                this.axios.get('/api/contacts/' + contactid).then((data) => {
                    this.contact.name = data.data.data.name;
                    this.contact.phone = data.data.data.phone;
                    this.id = contactid;
                    this.showModal('edit-modal')
                });
            },
            updateContact() {
                this.axios.put('/api/contacts/' + this.id, {
                    'name': this.contact.name,
                    'phone': this.contact.phone,
                }).then((data) => {
                    this.contact.name = '';
                    this.contact.phone = '';
                    this.hideModal('edit-modal');
                    this.contactLists();
                });
            },

            deleteId(contactId) {
                this.id = contactId;
                this.showModal('delete-modal');
            },
            deleteContact() {
                this.axios.delete('/api/contacts/' + this.id).then((data) => {
                    this.contactLists();
                    this.$refs['delete-modal'].hide();
                });
            },
            showModal(name) {
                this.$refs[name].show()
            },
            hideModal(name) {
                this.$refs[name].hide()
            },
            getDeletedContacts() {
                this.axios.get('/api/deleted-contacts').then((response) => {
                    this.deletedContacts = response.data;
                });
            },
            recoverContact(id) {
                this.axios.get('/api/recover-deleted-contacts/'+id).then((response) => {
                    this.contactLists();
                });
            },

        },
        mounted() {
            this.contactLists();
        }
    }
</script>