<template>
    <header class="main-header">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-left: 0;">
            <a href="/" class="logo">
                <span class="logo-lg">Contacts App</span>
            </a>
            <div class="navbar-custom-menu row">
                <ul class="nav navbar-nav right-menu">
                    <li class="user-footer">
                        <router-link :to="{ name: 'logout'}" class="btn btn-default btn-flat">
                            Logout
                        </router-link>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

</template>

<script>
    export default {}
</script>