<template>
    <div id="home">
        <header-component></header-component>
        <div class="container">
            <div class="justify-content-center">
                <div class="card">
                    <div class="card-header">{{this.$store.state.name}}</div>
                    <div class="card-body">
                        <contacts-component></contacts-component>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
