<template>
    <div class="login-component">
        <div class="login-container column is-4 is-offset-4">
            <div class="box text-center">
                <div class="note note--down">
                    <p>{{note}}</p>
                </div>
                <div class="login">
                    <header class="login--header">
                        <span>Contacts</span>
                    </header>
                    <section class="login--section">
                        <form class='login--form' @submit.prevent="login" method="post">
                            <fieldset>
                                <input type="email" placeholder="email" v-model="email" required
                                       @focus='inputFocus'/>
                            </fieldset>

                            <fieldset>
                                <input type="password" placeholder="password" v-model="password"
                                       @focus='inputFocus'
                                       required/>
                            </fieldset>
                            <fieldset>
                                <button type='submit' class='btn'>Login</button>
                            </fieldset>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                email: null,
                password: null,
                note: ''
            };
        },
        watch: {
            note() {
                const note = document.querySelector('.note');
                if (this.note.length) {
                    note.classList.add('note--up');
                } else {
                    note.classList.remove('note--up');
                    note.classList.add('note--down')
                }
            }
        },
        methods: {
            inputFocus() {
                this.note = ''
            },
            login() {
                this.$store
                    .dispatch("retrieveData", {
                        email: this.email,
                        password: this.password
                    })
                    .then(response => {
                        this.$router.push({name: "home"});
                        console.log(response.data.user);
                    })
                    .catch(error => {
                        this.note = 'Email or password wrong'
                    });
            }
        },
    };
</script>