<template></template>

<script>
    export default {
        async created() {
            await axios.get('/api/auth/logout',
                {'headers': {'Authorization': 'Bearer ' + this.$store.state.token}}
            );
            this.$store.dispatch("destroyToken").then(response => {
                this.$store.dispatch("destroyUser").then(response => {
                });
            });
        },
        mounted() {
            this.$router.push({name: "login"});
        }
    };
</script>