<template>
    <div class="login-component">
        <div class="login-container column is-4 is-offset-4">
            <div class="box text-center">
                <div class="note note--up" v-for="error in validationErrors">
                    <p>{{error}}</p>
                </div>
                <div class="login">
                    <header class="login--header">
                        <span>Contacts</span>
                    </header>
                    <section class="login--section">
                        <form class='login--form' @submit.prevent="register" method="post">
                            <fieldset>
                                <input type="email" placeholder="email" v-model="email" required
                                />
                            </fieldset>

                            <fieldset>
                                <input type="text" placeholder="name" v-model="name" required
                                />
                            </fieldset>

                            <fieldset>
                                <input type="password" placeholder="password" v-model="password"

                                       required/>
                            </fieldset>
                            <fieldset>
                                <button type='submit' class='btn'>Login</button>
                            </fieldset>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                name: null,
                email: null,
                password: null,
                formErrors: []
            };
        },
        computed: {
            validationErrors() {
                let errors = Object.values(this.formErrors);
                errors = errors.flat();
                return errors;
            }
        },
        methods: {
            login() {
                this.$store
                    .dispatch("retrieveData", {
                        email: this.email,
                        password: this.password
                    })
                    .then(response => {
                        this.$router.push({name: "home"});
                        console.log(response.data.user);
                    });
            },
            async register() {
                await axios.post('/api/auth/register', {
                        params: {
                            name: this.name,
                            email: this.email,
                            password: this.password
                        },
                    },
                ).then(({data}) => {
                    if (data[1] === 400) {
                        this.formErrors = data[0];
                    } else{
                        this.login();
                    }
                });
            }
        },
    };
</script>